.btn {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  label.btn {
    margin-bottom: 0;
  }
  
  .d-flex > .btn {
    flex: 1;
  }
  
  .carbonads {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    overflow: hidden;
    padding: 1rem;
  }
  
  .carbon-wrap {
    overflow: hidden;
  }
  
  .carbon-img {
    clear: left;
    display: block;
    float: left;
  }
  
  .carbon-text,
  .carbon-poweredby {
    display: block;
    margin-left: 140px;
  }
  
  .carbon-text,
  .carbon-text:hover,
  .carbon-text:focus {
    color: #fff;
    text-decoration: none;
  }
  
  .carbon-poweredby,
  .carbon-poweredby:hover,
  .carbon-poweredby:focus {
    color: #ddd;
    text-decoration: none;
  }
  
  @media (min-width: 768px) {
    .carbonads {
      float: right;
      margin-bottom: -1rem;
      margin-top: -1rem;
      max-width: 360px;
    }
  }
  
  .footer {
    font-size: 0.875rem;
  }
  
  .heart {
    color: #ddd;
    display: block;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: 0;
    margin-top: 1rem;
    position: relative;
    text-align: center;
    width: 100%;
  }
  
  .heart:hover {
    color: #ff4136;
  }
  
  .heart::before {
    border-top: 1px solid #eee;
    content: " ";
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
  }
  
  .heart::after {
    background-color: #fff;
    content: "♥";
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
    z-index: 1;
  }
  
  .docs-demo {
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 2px;
  }
  
  .img-container,
  .img-preview {
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
  }
  
  .img-container {
    max-height: 497px;
    min-height: 200px;
  }
  
  @media (min-width: 768px) {
    .img-container {
      min-height: 497px;
    }
  }
  
  .img-container > img {
    max-width: 100%;
  }
  
  .docs-preview {
    margin-right: -1rem;
  }
  
  .img-preview {
    float: left;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    overflow: hidden;
  }
  
  .img-preview > img {
    max-width: 100%;
  }
  
  .preview-lg {
    height: 9rem;
    width: 16rem;
  }
  
  .preview-md {
    height: 4.5rem;
    width: 8rem;
  }
  
  .preview-sm {
    height: 2.25rem;
    width: 4rem;
  }
  
  .preview-xs {
    height: 1.125rem;
    margin-right: 0;
    width: 2rem;
  }
  
  .docs-data > .input-group {
    margin-bottom: 0.5rem;
  }
  
  .docs-data .input-group-prepend .input-group-text {
    min-width: 4rem;
  }
  
  .docs-data .input-group-append .input-group-text {
    min-width: 3rem;
  }
  
  .docs-buttons > .btn,
  .docs-buttons > .btn-group,
  .docs-buttons > .form-control {
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
  }
  
  .docs-toggles > .btn,
  .docs-toggles > .btn-group,
  .docs-toggles > .dropdown {
    margin-bottom: 0.5rem;
  }
  
  .docs-tooltip {
    display: block;
    margin: -0.5rem -0.75rem;
    padding: 0.5rem 0.75rem;
  }
  
  .docs-tooltip > .icon {
    margin: 0 -0.25rem;
    vertical-align: top;
  }
  
  .tooltip-inner {
    white-space: normal;
  }
  
  .btn-upload .tooltip-inner,
  .btn-toggle .tooltip-inner {
    white-space: nowrap;
  }
  
  .btn-toggle {
    padding: 0.5rem;
  }
  
  .btn-toggle > .docs-tooltip {
    margin: -0.5rem;
    padding: 0.5rem;
  }
  
  @media (max-width: 400px) {
    .btn-group-crop {
      margin-right: -1rem !important;
    }
  
    .btn-group-crop > .btn {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  
    .btn-group-crop .docs-tooltip {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  
  .docs-options .dropdown-menu {
    width: 100%;
  }
  
  .docs-options .dropdown-menu > li {
    font-size: 0.875rem;
    padding: 0.125rem 1rem;
  }
  
  .docs-options .dropdown-menu .form-check-label {
    display: block;
  }
  
  .docs-cropped .modal-body {
    text-align: center;
  }
  
  .docs-cropped .modal-body > img,
  .docs-cropped .modal-body > canvas {
    max-width: 100%;
  }
  
  .hidden-button {
      display: none;
  }

  h1, p, a, span, div, input, form {
    font-family: "Noto Sans KR", sans-serif, 'Glyphicons Halfings' !important;
}

div {
    display: block;
}

p {
    margin: 0;
    word-break: keep-all;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

html {
    font-size: 10px;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.menu-title {
    font-size: 18px;
    font-weight: bold;
    padding-left: 8vw;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
 }
 .popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%; /*730px*/
    width: 50.625%; /*1120px*/
    background-color: #ffffff;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.5s;
    animation-name: slideIn;
    animation-duration: 0.5s
 }

.wrap-btn-right {
    float: right;
    display: inline-flex;
    padding: 20px 20px 20px 0;
}

.btn-viewmode {
    background-color: rgba(194, 194, 194, 0.3);
    height: 30px !important;
    color: #4d4d4d;
    font-size: 13px;
    line-height: 30px;
    border: 0 !important;
    cursor: pointer;
    float: right;
    border-radius: 5px;
    margin: 5px;
}

 .end:hover,
 .end:focus {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
 }
 .popup-header {
    padding: 1px 10px;
    height: 8%;
    background-color: #a175db;
    color: white;
 }
 .popup-body {
    padding: 1px 5px;
    height: 92%;}

 @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
 }
 @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
 }
 @-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
 }
 @keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
 }

 .text-box {
     padding: 30px;
     height: 30px;
     position: relative;
     left: 0;
     border: 1px solid;
     border-color: rgba(0,0,0,.15);
     background-color: white;
     font-size: 16px;
 }

 label {
     position: relative;
 }

 label:after {
    position: absolute;
    left: 5px;
    color: #bbb;
 }

 #file-upload {
     position: relative;
 }

 #file-upload:focus {
     z-index: 10;
 }

.wrap-file-browse-row {
     position: relative;
 }

 .wrap-file-browse
 .wrap-file-browse-row {
     margin-top: 10px;
     position: relative;
     height: 30px;
 }

 .wrap-file-browse
 .wrap-file-browse-row
 .attach-result {
    width: 352px;
    height: 30px;
    padding-left: 5px;
    padding-top: 5px;
    border: solid 1px rgba(77, 77, 77, 0.2);
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    border-radius: 5px;
 }

.wrap-file-browse-row
.wrap-file-browse
.wrap-btn-filebrowse {
    position: absolute;
    height: 30px;
    width: 440px;
}

.wrap-file-browse-row
.wrap-file-browse
.wrap-btn-filebrowse
.btn-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 440px;
    height: 30px;
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=1);
    -ms-filter: "alpha(opacity=1)";
    -khtml-opacity: 1;
    -moz-opacit: 1;
    padding-left: 5px;
}

.wrap-file-browse-row
.wrap-file-browse
.wrap-btn-filebrowse
.btn-browse {
    background-color: rgba(194, 194, 194, 0.3);
    height: 30px !important;
    color: #4d4d4d;
    font-size: 13px;
    line-height: 30px;
    border: 0 !important;
    cursor: pointer;
    float: right;
    border-radius: 5px;
}

.wrap-file-browse-row
.wrap-file-browse
.wrap-btn-filebrowse {
    background-color: rgba(194, 194, 194, 0.3);
    height: 30px !important;
    color: #4d4d4d;
    font-size: 13px;
    line-height: 30px;
    cursor: pointer;
    border: 0 !important;
    float: right;
    border-radius: 5px;
    display: block;
    width: 74px !important;
}

input[type="file"] {
    border: 1px solid;
}

input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-align: start !important;
    padding: initial;
    border: initial;
}

input[type="button" i] {
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: -internal-light-dark-color(buttontext,  rgb(170, 170, 170));
    background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

form {
    display: block;
    margin-top: 0em;
}

input {
    line-height: normal;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark-color (
        rgb(118, 118, 118),
        rgb(195, 195, 195));
    border-image: initial;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 100%;
    height: 90%;
    font-family: sans-serif;
    margin: 10px auto;
    padding: 10px;
}

#drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
}

.my-form {
    margin-bottom: 10px;
    opacity: 1;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

#file-elem {
    visibility: hidden;
}

#opaque-text {
    opacity: 0.5;
}

.thumb {
    border: 0.5px solid black;
    display: block;
    zoom: 2;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    z-index: 99999 !important;

}

#thumbnail {
    opacity: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

#dragged-pic-name {
    margin-left: 75px;
    margin-top: 5px;
    background-color: white;
    padding-top: 0;
    padding-left: 3px;
    width: 360px;
    height: 20px;
    border: none;
    z-index: 99999 !important;
    position: absolute;
    opacity: 0;
    font-size: 12.5px;;
}

#wrap-dynamic-recent-pic-list {
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 15px;
    display: block;
}

.wrap-dynamiclist-menu {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#pic-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 3vw;
    width: 85vw;
    height: auto;
    margin: auto;
    margin-top: 30px;
    justify-self: start;
}

div.viewport {
    overflow: hidden;
    position: relative;
    width: 19vw;
    height: 19vw;
    margin-right: 0;
}

.gallery-pic {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.gallery-pic:hover {
    opacity: 0.7;
}

.tool-button {
    margin: 3px;
    padding: 0;
}

.tool-icon {
    width: 20px;
    height: 20px;
    margin: 8px;
    padding: 0;
}

#photo-display-area {
        width: 100%; /*1000px*/
        height: 90%; /*500px*/
        margin: 0 auto; /*10px auto*/
        padding: 0; /*20px*/
        position: absolute;
}

#editing-image-container {
        opacity: 0;
        height: 95%;
        width: 100%;
        margin: 0 auto;
        position: relative;
}

.editing-image-display {
    border: 0.5px solid black;
    display: block;
    zoom: 2;
    margin: auto;
    left: 0; right: 0;
    top: 0; bottom: 0;
    height: auto;
    max-height: 90%; /*94%*/
    width: auto;
    max-width: 90%;
    object-fit: cover;
    z-index: 99999 !important;
    position: absolute;
    transform-origin: center center;
}
/*
img[id^="picid"] {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

img[id^="picid"]:hover {
    opacity: 0.7;
}*/